<head>
<title>
	Index
</title>
</head>
	    <div class="span1">
	    	<p>
				<%if current_user %>
					<div class="btn">
						<%= link_to 'New', new_photo_path %><br>
					</div>
					<br><br>
					<div class="btn">		
						<%= link_to 'Back', admin_index_path %>
					</div>	
				<%end%>
			</p>
	    </div>	
		<div class="span10">
			
			<div class="index-body">
				<div class="flexslider">	
					<ul class="slides">
						<% @photo.each do |photo| %>
				
							<%if current_user %>
								<%= image_tag photo.image_url,:width=>"220", :height=>"100"%>
								<%= link_to 'Edit', edit_photo_path(photo) %>
								<%= link_to 'Destroy', photo, confirm: 'Are you sure?', method: :delete%>
							<% else %>
							
								<li>
									<%= image_tag photo.image_url%>
								</li>
							
							<%end%>
						
						<%end%>
					</ul>
				</div>
					
				<br>
				<%if current_user %>
				
				<% else %>
				
					<script type="text/javascript">
						$(window).load(function() {
    						$('.flexslider').flexslider({
    							animation: "fade",//"fade" or "slide"
								slideDirection: "horizontal",   //"horizontal" or "vertical"
								slideshow: false,                //Animate slider automatically
								slideshowSpeed: 3000,           //slideshow cycling, in milliseconds
								animationDuration: 600,         //animations, in milliseconds
								directionNav: true,//navigation for previous/next navigation? (true/false)
								controlNav: true, //Create navigation for paging control of each clide? Note: Leave true for manualControls usage
								keyboardNav: false,//Allow slider navigating via keyboard left/right keys
								mousewheel: true,//Boolean: Allow slider navigating via mousewheel
								prevText: "Previous",//String: Set the text for the "previous" directionNav item
								nextText: "Next",//String: Set the text for the "next" directionNav item
								pausePlay: true,//Boolean: Create pause/play dynamic element
								pauseText: 'Pause',//String: Set the text for the "pause" pausePlay item
								playText: 'Play',//String: Set the text for the "play" pausePlay item
								randomize: false,//Boolean: Randomize slide order
								slideToStart: 0,//Integer: The slide that the slider should start on. Array notation (0 = first slide)
								animationLoop: true,//Boolean: Should the animation loop? If false, directionNav will received "disable" classes at either end
								pauseOnAction: true,//Pause the slideshow when interacting with control elements, highly recommended.
								pauseOnHover: true,//Boolean: Pause the slideshow when hovering over slider, then resume when no longer hovering
								controlsContainer: "",          //Selector: Declare which container the navigation elements should be appended too. Default container is the flexSlider element. Example use would be ".flexslider-container", "#container", etc. If the given element is not found, the default action will be taken.
								manualControls: "",             //Selector: Declare custom control navigation. Example would be ".flex-control-nav li" or "#tabs-nav li img", etc. The number of elements in your controlNav should match the number of slides/tabs.
								start: function(){},            //Callback: function(slider) - Fires when the slider loads the first slide
								before: function(){},           //Callback: function(slider) - Fires asynchronously with each slider animation
								after: function(){},            //Callback: function(slider) - Fires after each slider animation completes
								end: function(){}               //Callback: function(slider) - Fires when the slider reaches the last slide (asynchronous)
    						});
  						});
						</script>

				<%end%>

	</div>
</div>
