<h1>Photo#index</h1>
<% @photo.each do |photo| %>
<%= photo.id%>
<%= photo.pic_name%>
<%= photo.description%>
<%= link_to 'Edit', edit_photo_path(photo) %>
<%= link_to 'Destroy', photo, confirm: 'Are you sure?', method: :delete%>
<br>
<%end%>