<head>
<title>
	Photo-New
</title>
</head>

<%= form_for @photo ,:url => { :action => "create" }, :html=>{:multipart=>true}, :class=>'form-stacked' do |f| %>
	<% if @photo.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
		  <% @photo.errors.full_messages.each do |msg| %>
		  		<li><%= msg %></li>
		  <% end %>
		</ul>
		    </div>
	<% end %>

	<div class="clearfix">
		
		<%= f.label :pic_name%>
		<%= f.text_field :pic_name, :class=> "input"%><br>
	</div>
	
	<div class="clearfix">
		<%= f.label :description%>
		<%= f.text_field :description, :class=> "input"%><br>
	</div>

	<div class="clearfix">
		<%= f.label :albums_id ,"Album Name"%>
		
		<%= select("photo", "albums_id", Albums.all.collect {|a| [ a.album_name, a.id ] }, { :include_blank => true },{:class=>"input"})%>
		<br>
	</div> 

	<div class="clearfix">
	<%= f.label :image ,"Image Name"%>
		<%= f.file_field :image, :class=> "input"%> 
	</div>
		<%= f.submit "Create new picture" ,:class=>'btn primary'%>
	
<%end%>
