
<head>
<title>
	Album Index
</title>
</head>
<div class="container">
<% @albums.each do |albums| %>
<div class="clearfix">
	<%= albums.id%>
	<%= albums.album_name%>
	<%if current_user %>
		<%= link_to 'Edit', edit_album_path(albums) %>
		<%= link_to 'Destroy', albums, confirm: 'Are you sure?', method: :delete%>
	<% end %>
</div><br>
<%end%>
<p>
<%= link_to 'Create New Album', new_album_path %><br>

<%= link_to 'Back', admin_index_path %>
</p>
</div>