
<head>

	<%= stylesheet_link_tag "prettyPhoto/css/prettyPhoto.css" %>
  	<%= javascript_include_tag "prettyPhoto/js/jquery.prettyPhoto.js" %>
  
  
</head>
<div class="container">
	<div class="row">
		<div class="span2">
			<% @albums.each do |album| %>
				<p>
				<div class="btn">
					<%= link_to album.album_name,show_album_path(album)%>
				</div>	
				</p>
			<%end%>
		</div>

		<div class="span10">
			<ul class="thumbnails">
				<% @photo.each do |photo| %>
					<li class="span3">
						<a rel="prettyPhoto[pp_gal]" href='<%= photo.image_url%>'>
							<%= image_tag photo.image_url , :width=>"200", :height=>"150"%>
						</a>	
					</li>						
				<%end%>
			</ul>
		</div>
	</div>
    

</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>


