
<div class="conatiner">
	
<div id="header-tabs">
	
	<div class="span12">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", '/'%></li>
			<li><%= link_to "About Me", :about%></li>
    		<li><%= link_to "Portfolio", :port%></li>
    		<li><%= link_to "Contact", :contact%></li>
			<%if current_user %>
        	  	<li><%= link_to "Logout", :logout%></li>
        	<%end%>
    	</ul>
    </div>
</div>
		
	
</div>


	



