<body class="<%= params[:controller] %>">
	
  <div id="container">
    
      <% if current_user %>
          
          <span class="label label-info">
           Welcome back  <%= current_user.email %>
          
          </span>
          <br><br>
      <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "Log in", login_path  %>.
      <% end %>
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    	<!-- Below code will display all the users that are currently logged in-->
      <!-- 
      <% if current_user %>
    	    <div id="current_users"> Currently active users: <%= current_users_list %></div>
    	<% end %>
    -->
    <%= yield %>
  </div>


</body>