<!DOCTYPE html>
<html>
<head>
  <title>Auth Example</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "galleria/galleria-1.2.6.min.js" %>
<%= javascript_include_tag "galleria/themes/classic/galleria.classic.min.js" %>
  
  <%= csrf_meta_tags %>
<%= yield :mine%>
</head>
<body>
	
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="span2">
        <p>
        Family<br>
        Travel<br>
        Just Like That<br>
        </p>
      </div>
      <div class="span14">
      <%= yield %>
      </div>
      
    </div> 
    
  

</body>
</html>