<!DOCTYPE html>
<html>
<head>
  <title>Auth Example</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="span2">
        This is my sidebar. This is my sidebar. This is my sidebar. This is my sidebar. This is my sidebar. This is my sidebar. This is my sidebar. This is my sidebar. This is my sidebar. This is my sidebar.
      </div>
      <div class="span14">
      <%= yield %>
      </div>
      
    </div> 
  
    
  

</body>
</html>