<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "flexslider/flexslider.css" %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "flexslider/jquery.flexslider-min.js" %>
  
  <%= csrf_meta_tags %>
  <%= yield :mine%>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <div class="row">
        <%= yield %>
      </div> 
  
  </body>
</html>